body { 
  margin: 0;
  overflow: hidden;
}

.hidden { display: none }

#model-visual-all {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#model-visual-recent {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.model-preview {
  width: 128px;
  height: 142px;
}

.model-preview-label {
  font-size: 12px;
}

#file-workspaces-view {
  display: block;
}

#file-attached-view {
  display: none;
}

/* START */
/* texture_election.js */

#buildings-dialog{
  display: flex;
  flex-direction: column;
}

.groups-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.texture-group{
  display: flex;
  flex-direction: column;
  max-width: 33%;
}

.texture-group h1 {
  text-align: center;
}


.img-wrapper {
  display: flex;
  justify-content: center;
}

.img-box {
  text-align: center;
  padding: 2px;
  margin: 2px;
  border: 1px solid #9e9e9e;
  border-radius: 2%;
  position: relative;
}

.img-box:hover {
  background-color: #eaf2ff;
}

.img-box img {
  border: 1px solid black;
  box-sizing: content-box;
  height: 128px;
}

.walls{
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 100%; 
  width: 100%;
}

.roofs{
  display: flex;
}

.img-box button{
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

/* END */