.active {
    background-color: mediumspringgreen;
    border-color: mediumspringgreen;
    color: black;
}

.inactive {
}

.hotkeys-disabled {
    background-color: crimson;
    border-color: crimson;
    color: white;
}

.custom-justify{
    margin: 2.5% 5%;
}